<!doctype html>
<html>
<head>
    <header><img src = "/img/10123.jpg" alt="Meadowlark Travel Logo"></header>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <title>Meadowlark Teavel</title>
</head>
<body>
    {{{body}}}
</body>
</html>
